.site-main,
.site-header,
.site-footer {
	.container;
}

.rows {
	margin-bottom: 5px;
	img {
		margin-right: 3px;
		&.darken{
			.transition( opacity .5s );
			&:hover {
				opacity:.5;
			}
		}
	}

}

.grids {
	margin-bottom:15px;
	.left-col {
		margin-right: 2px;
	}
	.middle-col {
		margin-left: 1px;
		.rows {
			img {
				margin: 0px;
			}
		}
	}
	.right-col {
		.rows {
			img {
				margin-right: 0px;
				margin-left: 2px;
			}
		}
	}
}
.sidebar {
	.menu {
		margin-left: 0px;
		list-style-type: none;
		font-weight: bold;
		li {
			ul {
				font-weight: normal;
				margin-left: 0px;
				list-style-type: none;
			}
		}
		.current-menu-item:before {
			content: "\25BA\0020";
		}
		a {
			color: black;
		}
	}
}

.product_title {
	font-size: 16px;
}

.related.products,
.panel.entry-content {
	h2 {
		font-size: 14px;
		line-height: 18px;
	}
}

.product_meta {
	a {
		.badge;
	}
}

.single .site-content {
	padding-left: 20px;
}
.single .product {
	margin:0 20px;
	.images {	
	}
}

.single .site-content {
	border-left: 1px solid black;
}

.quick {
	text-align: center;
	border-top: 1px solid black;
	padding-top: 5px;
	margin-bottom:20px;
	a {
		color: black;
	}
	.visit {
		border-left: 1px solid black;
		border-right: 1px solid black;
		margin-top: -5px;
		padding-top: 5px;
	}
}


.woocommerce .quantity input.qty, 
.woocommerce #content .quantity input.qty, 
.woocommerce-page .quantity input.qty, 
.woocommerce-page #content .quantity input.qty {
	width: 40px;
	height: 28px;
	padding: 0;
	.pull-left;
	text-align: center;
	border: 1px solid #c7c0c7 !important;
	box-shadow: inset 0 0 2px 0 #f7f6f7;
	-webkit-box-shadow: inset 0 0 2px 0 #f7f6f7;
	-moz-box-shadow: inset 0 0 2px 0 #f7f6f7;
	font-weight: bold;
	border-radius: 2px;
	margin-top: 8px;
	margin-right: 10px;
}

.woocommerce .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce-page #content .quantity .minus {
	display:none !important;
}




.type-product {
	table {
		font-size:12px;
		th {
			// width: 135px;
			font-weight: normal;
			text-transform: uppercase;
			border:0px;
		}
		td {
			border:0px;
		}
		p {
			margin:0px;
		}
	}
}

.woocommerce-tabs {
	.active a,
	.active a:hover,
	.active a:active {
		border: inherit;
	}
	.description_tab a,
	.description_tab a:hover,
	.additional_information_tab a,
	.additional_information_tab a:hover {
		border-right:1px solid black;
	}
}


// Add the button class from Bootstrap.

.button {
	.btn;
	.btn-inverse;
}

.woocommerce-message {
	margin: 0 0 20px;
}

.sidebar aside ul {
	.nav;
	.nav-pills;
	.nav-stacked;
}

.shop_attributes {
	color: #131107;
}

// Make the cart tables look nice using the Bootstrap defaults.
.cart_totals table,
.shop_table {
	.table;
	.table-striped;
	.table-bordered;
}

.coupon {
	display: none;
}
.remove {
	.close;
}

.stars span a {
	.badge;
}
.stars span a.active {
	background-color: @orange;
}

#submit {
	.btn;
	.btn-inverse;
}

.comment-form-comment {
	label {
		display: block;
	}
}

table.checkout {
	.table;
}

.form-row {
	.clearfix;
	select {
		float:right;
		max-width: 200px;
	}
	label {
		margin-right: 20px;
	}
	.input-text {
		float:right;
	}
}

.col2-set {
	.clearfix;
}

.col-1 {
	width:45%;
	float:left;
}
.col-2 {
	width:45%;
	float:right;
}

.payment_methods {
	list-style-type: none;
	margin-left: 0px;
}

.shop_attributes {
	div {
		margin-bottom: 10px;
		font-size: 13px;
		.attr {
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}

br {
	display: none;
}

ul.products {
	margin: 20px 0px;
	li {
		// .thumbnail;
		display: inline-block;
		width: 30%;
		margin-bottom: 20px;
		a {
			.amount,
			h3 {
				font-size: 16px;
				line-height: 120%;
				color: black;
			}
		}
		a:hover {
			text-decoration: none;
		}
		mark {
			background-color: transparent;
		}
	}
}

#s {
	height: 24px;
}

.chzn-container {
	width: 200px !important;
}

.required {
	border-bottom: 0px !important;
	color: red;
}

#order_comments_field {
	.input-text {
		width: 142px;
	}
}

.modal-body { 
	max-height: 500px !important;
}

.post-24 {
	header {
		display: none;
	}
	h1 {
		display: none;
	}
}