.site-main,
.site-header,
.site-footer {
	.container;
}

.grids .row {
	margin-bottom:15px;
}

.sidebar {
	width: 356px;
	border-right: 1px solid black;
	min-height: 600px;
	.menu {
		margin-left: 0px;
		list-style-type: none;
		font-weight: bold;
		li {
			ul {
				font-weight: normal;
				margin-left: 0px;
				list-style-type: none;
			}
		}
		.current-menu-item:before {
			content: "\25BA\0020";
		}
		a {
			color: black;
		}
	}
}

.product_title {
	font-size: 16px;
}

.related.products,
.panel.entry-content {
	h2 {
		font-size: 14px;
		line-height: 18px;
	}
}